@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.2 'Inter';
}

a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #85DCFF;
    padding: 66px 33px;
}

.info-content {
    flex: 2;
}

.title {
    padding-bottom: 30px;
    font-size: 43px;
    font-weight: bold;
    width: 400px;
}

.media {
    flex: 1;
    width: 100%;
}

.media img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 8px 8px 6px -4px rgba(0,0,0,0.8);
}

.info-content .btns {
    margin-top: 30px;
    display: flex;
    gap: 14px;
}

.info-content .btn {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px 30px;
}

.info-content .btn.primary {
    background: #42AA59;
}

.info-content .btn.primary:hover {
    color: #FFFFFF;
    background: #000000;
}

.info-content .btn.secondary{
    border: none;
    background: #FFFFFF;
}