@media (max-width: 600px) {
    .tm-header-inner {
        display: flex;
        flex-direction: column;
    }

    .tm-nav-link {
        padding-bottom: 7px;
    }

    .tm-nav-link.active{
        border-bottom: 2px solid #93A397;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 20px 0px;
    }

    .tm-section-title {
        font-size: 3rem;
        margin-left: 0;
    }

    .tm-welcome-section p{
        font-size: 25px;
    }

    .tm-gallery {
        margin-left: 0;
    }

    .tm-gallery-page {
        margin: unset;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tm-paging-link {
        width: 170px;
        font-size: 25px;
    }
}

.tm-cta-section {
    width: unset;
}