body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    border-bottom: 3px solid black;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 100%;
}

main {
    width: 100%;
}

/* .first-article section::after .third-article section::after {
    content: '';
    clear: both;
    display: table;
} */

.first-article .img-container {
    float: right;
    margin-left: 1rem;
}

img {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.img-container {
    width: 150px;
    border: 3px solid black;
    padding: 0.3rem;
    background-color: white;
    box-shadow: 5px 10px 18px rgb(0, 0, 0, 0.25);
}

.second-article .block-wrap {
    display: inline-flex;
}

/* .second-article .block-wrap>p {
    position: relative;
} */

/* .second-article .block-wrap>p::after {
    content: '';
    height: 90%;
    width: 3px;
    position: absolute;
    right: 0;
    top: 0;
} */

.bloack-al {
    width: 60%;
}

.second-article blockquote {
    font-style: italic;
    color: #878787;
    font-family: Georgia, serif;
    border-left: 3px solid #878787;
    padding-left: 1rem;
    width: 40%;
}

.second-article blockquote p:nth-child(2) {
    text-align: right;
}

.third-article .img-container {
    float: left;
    margin-right: 1rem;
}

@media (max-width:1800px) {
    body {
        font-size: 21px;
    }
}

@media (max-width:1300px) {
    body {
        font-size: 18px;
    }
}

@media (max-width:800px) {
    body {
        font-size: 16px;
    }
}

@media (max-width:600px) {
    body {
        font-size: 14px;
    }

    .first-article .img-container,
    .third-article .img-container {
        float: none;
    }

    .second-article .block-wrap {
        display: block;
    }

    .bloack-al {
        width: 100%;
    }

    .second-article blockquote {
        width: 80%;
    }
}

@media (max-width:500px) {
    body {
        font-size: 12px;
    }
}