@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.container {
    max-width: 1750px;
    margin: 0 auto;
}

html {
    font: 20px/1.2 'Inter';
}

/* Header */
header {
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 20px 60px;
}

nav ul {
    padding-left: 40px;
    display: flex;
    gap: 30px;
}

.btn {
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    padding: 5px 10px;
}

/* Hero */
.hero {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: top 104% center;
}

.hero .container {
    padding: 180px 0 170px 230px;
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
    width: 15ch;
    padding-bottom: 115px;
}

.hero .desc {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    width: 50ch;
    padding-bottom: 60px;
}

.hero a {
    background: #000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
}

/* Statistics */
.statistics {
    background: #FFFFFF;
}

.statistics-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.statistics-wrapper article {
    text-align: center;
}

.statistics-wrapper .title {
    color: #FF7C4C;
    font-size: 50px;
    font-weight: bold;
    padding: 40px 0;
}

.statistics-wrapper h3 {
    font-weight: normal;
    padding-bottom: 10px;
}

.statistics-wrapper .desc {
    font-size: 14px;
    padding-bottom: 20px;
    color: #6D6D6D;
}

/* Enterprise */
.enterprise {
    background: #D9D9D9;
}

.enterprise .container {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    gap: 40px;
}

.enterprise .container article {
    display: flex;
}

.enterprise .container img {
    display: block;
    width: 100%;
    height: auto;
}

.media {
    width: 100%;
    flex: 1;
}

.info-content {
    flex: 2;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-content h3 {
    font-size: 20px;
    color: #6D6D6D;
    padding-bottom: 40px;
}

.info-content h2 {
    padding-bottom: 40px;
    font-size: 36px;
}

.info-content .desc {
    color: #6D6D6D;
    font-size: 18px;
    padding-bottom: 10px;
}

.info-content a {
    font-size: 18px;
    padding-bottom: 40px;
}

.info-content p {
    color: #6D6D6D;
    font-size: 18px;
}

/* Pricing */
.pricing {
    background: #F5F5F5;
}

.pricing .container {
    background: #FFFFFF;
    display: flex;
    gap: 40px;
    padding: 50px;
}

.pricing .container article {
    flex: 1;
}

.plans h2 {
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 32px;
}

.plans p{
    font-size: 18px;
    width: 480px;
    color: #6D6D6D;
}

.pricing-item{
    text-align: center;
    padding: 30px 0;
    padding-bottom: 50px;
}

.pricing-item .title{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 40px;
}

.pricing-item .price{
    font-size: 70px;
    font-weight: 200;
    padding-bottom: 40px;
}

.pricing-item .desc p{
    padding-bottom: 20px;
}

.pricing-item .price-btn{
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 14px;
}

.pricing-item .desc{
    padding-bottom: 40px;
}

.pricing-item.first{
    background: #FF7C4C;
}

.pricing-item.first .price-btn{
    background: #000;
    color: #fff;
}

.pricing-item.second{
    background: #000;
    color: #fff;
}

.pricing-item.second .price-btn{
    background: #fff;
    color: #000;
}

/* Footer */
footer {
    background: #D9D9D9;
}

footer .socials{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
}

footer .socials i{
    font-size: 22px;
}

footer .socials span{
    display: none;
}